<link rel="stylesheet" href="/css/user_profile.css">
<h1>Codeial user profile page</h1>
<p>Name: <%= user.name %></p>
<p>Email: <%= user.email %></p>
<div style="margin: 4px 0px;">
    <a href="/users/sign-out" class="sign-out-button">Sign Out</a>
</div>